<html>
  <head>
    <title>Welcome Chef Jumpstart Atendees</title>
  </head>
  <body>
    <h1>Welcome Chef Jumpstart Atendees</h1>
    <p>Congratulations on you new skills in Chef</p>
    <p>You should know, the IP address of the server is 
      <%= node['cloud']['public_ipv4'] %>
    </p>
  </body>
</html>
